<body>
<header>
  <div class="logo-container">
    <img class="menu"src="../assets/menu.PNG" />
    <a class="logo" href="/">
      <h2>Linda~Shop</h2>
    </a>
  </div>
  <div class="dienste">
    <a class="suchen" >
      <input class="form-control" type="text" name="search" autocomplete="on" placeholder=" Suchen  ">
    </a>
    <a class="ware" href="pages/warenkorb">
      <img class="img" src="../assets/warenkorb.PNG" />
    </a>
    <a href="auth/login" *ngIf="!istAngemelden">
      <img class="img" src="../assets/login.PNG" />
    </a>
    <a  *ngIf="istAngemelden">
      <img class="img" src="../assets/user.PNG" />
    </a>
    <div class="userInfo"  *ngIf="istAngemelden">
      <p>{{userLastname}}</p>
      <p>{{userFirstname}}</p>
    </div>
  </div>
</header>
<main>
  <app-product-list></app-product-list>
  <router-outlet></router-outlet>
</main>
<div id="overlay">
  <nav id="menu">
    <button class="btnX">X</button>
    <a href="">Über uns</a>
    <a href="">Settings</a>
    <a href="">Suchen</a>
    <a href="">Warenkorb</a>
    <a href="auth/login" *ngIf="!istAngemelden">Anmelden</a>
    <a href="auth/logout" *ngIf="istAngemelden">Abmelden</a>
  </nav>
</div>
<footer>
  <div> &copy;2022 </div>
  <div class="logo"> Linda~Shop </div>
  <div> | </div>
  <a href="https://www.linkedin.com/in/linda-motieh-djoumsi-76597b219/"> ldjoumsi@yahoo.com</a> |
  <a href="https://github.com/DjoumsiLinda"> GitHub</a>
</footer>
</body>
