@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../@theme/styles/themes';

@include nb-install-component() {
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 40px;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  color: nb-theme(text-hint-color);

}

header {
  background: linear-gradient(90deg, aqua 10%, orange 60%, chartreuse 100%);
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 500px 1fr;
  grid-template-rows:  1fr;
  font-size: 1.25rem;
  border-bottom: 0.5px ridge black;
  h2{
    font-size: 1.5rem;
  }
  .logo-container {
    grid-column-start: 1/2;
    justify-self: left; /* horizontal */
    align-self: center; /* vertical */
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .logo {
    padding: 0 0.25rem;
    margin-right: 20px;
    white-space: nowrap;
    text-decoration: none;
  }
  .logo h2{
    font-size: 2rem;
  }
  .dienste{
    grid-column-end: 2/-2;
    justify-self: right; /* horizontal */
    align-self: center; /* vertical */
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  a{
    text-align: center;
    text-decoration: none;
    color: nb-theme(text-hint-color);
  }
}

main {

}

footer {
  border-top: 0.5px ridge black;
  background: linear-gradient(90deg, aqua 10%, chartreuse 60%, green 100%);
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0.55rem;
  }
  a{
    color: blue;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
  }
}
