<body>
<header>
  <div class="logo-container">
    <a class="logo" href="#">
      <h2>Linda~Shop</h2>
    </a>
    <a class="menu" href="#">
      <h2>Menu</h2>
    </a>
  </div>
  <div class="dienste">
    <a class="sprache" href="sprache">
      <h2>Sprache</h2>
    </a>
    <a class="anmelden" href="auth/login">
      <h2>Anmelden</h2>
    </a>
    <a class="ware" href="pages/warekorp">
      <h2>Warekorp</h2>
    </a>
    <a class="suchen" href="pages/suchen">
      <h2>Suchen</h2>
    </a>
  </div>
</header>
<main>
  <app-product></app-product>
  <router-outlet></router-outlet>
</main>
<footer>
  <div> &copy;2022 </div>
  <div class="logo"> Linda~Shop </div>
  <div> | </div>
  <a href="https://www.linkedin.com/in/linda-motieh-djoumsi-76597b219/"> ldjoumsi@yahoo.com</a> |
  <a href="https://github.com/DjoumsiLinda"> GitHub</a>
</footer>
</body>
