@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/themes';


@include nb-install-component() {
}

* {
  box-sizing: border-box;
  margin: 0;
}
.card{
  border: none;
  width:500px;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: hsla(205, 46%, 30%, 1);
  background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}
.card h1,
h6{
  color: #fff;
}
label{
  color: #fff;
}
