.products{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
nb-card{
  text-align: center;
  vertical-align: middle;
  height: 300px;
  width: 330px;
  border: 2px solid black;
  margin: 0.2rem 0.2rem;
}
