@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/themes';

.products{
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
nb-card{
  text-align: center;
  vertical-align: middle;
  height: 300px;
  width: 400px;
  border: 2px solid black;
  margin: 1.3rem;
  cursor: pointer;
}

nb-card-header{
    font-size: 25px;
}

nb-card:hover{
    box-shadow: 0px 0px 150px white;
    z-index: 100;
    transition: all 2000ms ease-in;
    transition-delay: 2s;
    transform: scale(1.15);
}

img{
    max-height: 250px;
    max-width: 400px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.buttons{
    position: relative;
    transform: translate(-50%, -50%);
    right: -90%;
    top: 40px;
    height: 70px;
    border-radius: -5px;
}

.btn{
    border: none;
    outline: none;
    background: #888;
    padding: 10px 30px;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
    margin: 0px 15px;
}

.btn:hover{
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}