<div class="products">
  <nb-card>
    <nb-card-header>Tiny card</nb-card-header>
    <nb-card-body>afsdff</nb-card-body>
    <nb-card-footer>more</nb-card-footer>
  </nb-card>
  <nb-card>
    <nb-card-header>Tiny card</nb-card-header>
  </nb-card>
  <nb-card>
    <nb-card-header>Tiny card</nb-card-header>
  </nb-card>
  <nb-card>
    <nb-card-header>Tiny card</nb-card-header>
  </nb-card>
  <nb-card>
    <nb-card-header>Tiny card</nb-card-header>
  </nb-card>
  <nb-card>
    <nb-card-header>Tiny card</nb-card-header>
  </nb-card>
  <nb-card>
    <nb-card-header>Tiny card</nb-card-header>
  </nb-card>
</div>

