<a href="/products"><button class="btn" id="home"><-- Home</button></a> 
<div class="col-md-6" *ngIf="state===1">
  <div class="card">
    <div class="text-center mb-3">
      <h1>Reset Password (1/3)</h1>
    </div>
    <form [formGroup]="resetState1Form" (ngSubmit)="resetState1Submit()">
      <div class="mb-3">
        <label class="form-label">Please enter your email address with which you registered!</label>
        <input formControlName="email" type="email" class="form-control" aria-describedby="emailHelp">
        <p class="text-danger" *ngIf="resetState1Form.get('email')?.touched
        && resetState1Form.get('email')?.errors
        && resetState1Form.get('email')?.errors?.['required']">Please enter your email address!</p>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!resetState1Form.valid">Reset</button>

    </form>
  </div>
</div>

<div class="col-md-6" *ngIf="state===2">
  <div class="card">
    <div class="text-center mb-3">
      <h1>Reset Password (2/3)</h1>
    </div>
    <form [formGroup]="resetState2Form" (ngSubmit)="resetState2Submit()">
      <div class="mb-3">
        <label class="form-label">Please Enter your code that you received!</label>
        <input formControlName="code" type="text" class="form-control" aria-describedby="emailHelp">
        <p class="text-danger" *ngIf="resetState2Form.get('code')?.touched
        && resetState2Form.get('code')?.errors
        && resetState2Form.get('code')?.errors?.['required']">Please enter the code!</p>
        <label class="form-label">Please Enter a new password</label>
        <input formControlName="password" type="password" class="form-control" aria-describedby="emailHelp">
        <p class="text-danger" *ngIf="resetState2Form.get('password')?.touched
        && resetState2Form.get('password')?.errors
        && resetState2Form.get('password')?.errors?.['required']">Please enter your password!</p>
        <p class="text-danger" *ngIf="resetState2Form.get('password')?.touched
        && resetState2Form.get('password')?.errors
        && resetState2Form.get('password')?.errors?.['minlength']">Your password should be longer than 5 characters!!</p>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!resetState2Form.valid">Submit</button>

    </form>
  </div>
</div>

<div class="col-md-6" *ngIf="state===3">
  <div class="card">
    <div class="text-center mb-3">
      <h1>Reset Password (3/3)</h1>
    </div>
    <form>
      <div class="mb-3">
        <label class="form-label">Password successfull reset!</label>
        <label class="form-label mt-3">You can now <a routerLink="/auth/login/">Log in</a> with your new password!</label>
      </div>
    </form>
  </div>
</div>
<footer>
  <div> &copy;2022 </div>
  <div class="logo"> Afro~Shop </div>
  <div> | </div>
  <a href="https://www.linkedin.com/in/linda-motieh-djoumsi-76597b219/"> ldjoumsi@yahoo.com</a> |
  <a href="https://github.com/DjoumsiLinda"> GitHub</a>
</footer>
