@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/themes';

@include nb-install-component() {
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 40px;
  height: 100vh;
  overflow: hidden;

}

header {
  background-color: aqua;
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 500px 1fr;
  grid-template-rows:  1fr;
  font-size: 1.25rem;
  border-bottom: 0.5px ridge black;
  .logo-container {
    grid-column-start: 1/2;
    justify-self: left; /* horizontal */
    align-self: center; /* vertical */
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  .logo {
    padding: 0 0.25rem;
    font-size: 1.75rem;
    margin-right: 20px;
    white-space: nowrap;
    text-decoration: none;
  }

  .dienste{
    grid-column-end: 2/-2;
    justify-self: right; /* horizontal */
    align-self: center; /* vertical */
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .dienste a{
    text-align: center;
  }

}

main {
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}

footer {
  border-top: 0.5px ridge black;
  background-color: rgb(150, 280, 0);
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo{
    font-size: 1.75rem;
    padding: 0 0.55rem;
  }
  a{
    color: blue;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
  }
}
