@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/themes';

@include nb-install-component() {
}
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 40px;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
  color: nb-theme(text-hint-color);

}

header {
  background: linear-gradient(90deg, aqua 10%, orange 60%, chartreuse 100%);
  display: grid;
  grid-gap: 8px;
  grid-template-columns: 500px 1fr;
  grid-template-rows:  1fr;
  font-size: 1.25rem;
  border-bottom: 0.5px ridge black;
  p{
    font-size: 1rem;
  }
  .userInfo{
    margin-right:0px;
  }
  .logo-container {
    grid-column-start: 1/2;
    justify-self: left; /* horizontal */
    align-self: center; /* vertical */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .logo-container a:nth-child(2){
    margin-left: 20px;
  }

  .logo {
    padding: 0 0.25rem;
    white-space: nowrap;
    text-decoration: none;
    position: relative;
  }
 .hoverClass{
  margin: 0px;
 }
 .logClass{
  margin: 0px;
 }
  .logo h2{
    font-size: 2rem;
  }
  .dienste{
    grid-column-end: 2/-2;
    justify-self: right; /* horizontal */
    align-self: center; /* vertical */
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  a{
    text-align: center;
    text-decoration: none;
    color: nb-theme(text-hint-color);
  }
  .suchen{
    width: 300px;

  }
  .img{
    height:45px;
    object-fit: cover;
    border: none;
  }
  .menu{
    cursor: pointer;
    height:45px;
    object-fit: cover;
    border: none;
  }
 
  .ware {
    display: flex;
  }
  .ware button{
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50%;
    background-color: red;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-left: -7px;
  }

}
main {
  font-size: 80px;
  font-weight: bolder;
  text-align: center;
  margin-top: 50px;
}
footer {
  border-top: 0.5px ridge black;
  background: linear-gradient(90deg, aqua 10%, chartreuse 60%, green 100%);
  font-size: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0.55rem;
  }
  a{
    color: blue;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 10px;
  }
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Hambuger menu*/
#overlay {
  /*position fixed car le overlay cad le menu doit etre sur une parti fixe de lecran*/
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*rgba(red, green, blue, alpha)*/
  background-color: rgba(0, 0, 0, 0);

  /* we work with visibility: hidden,
  because display: none cannot be animated / transitioned.*/
  visibility: hidden;
  /*transition est coe une annimation et il est possible de mettre le temps de reaction a un evenement*/
  transition: all 1s;
}

#overlay.on {
  /*Lorsque la class on est active(voir le script.js) un menu apparait(visibility: visible) et on change/noircir larriere planbackground-color: rgba(0, 0, 0, 0.7)*/
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.7);
}

#menu {
  background-color: white;
  height: 100%;
  width: 50%;
  /*important de preciser le min et max de width pour que celui cici soit operationel sur tt type de Bowser*/
  min-width: 150px;
  max-width: 300px;

  position: absolute;
  left: 0;

  transition: all 1s;

  /*translateX() repositionne un élément horizontalement sur le plan 2D*/
  transform: translateX(-100%);
}
.btnX {
  position: absolute;
  right: 90%;
  font-size: 40px;
  top: -12px;
  left: -5px;
  background-color: orangered;
  color: white;
  text-align: center;
  border: 1px solid black;
}
.btnX:hover{
  background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
}

#menu a {
  display: block;
  text-decoration: dotted red;
  font-size: 30px;
  font-weight: bold;
  color: blue;
  /*car on a utiliser display block*/
  padding: 10px 20px;
  margin-left: 50px;
  border-radius: 50px;
}
#menu a:hover:after{
  transform: scaleY(1);
}
#menu a:hover{
  color: orangered;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
  transition: all 0.3s ease-in-out;
  
}
#menu .log {
  top: 50px;
  font-size: 20px;
}
#overlay.on #menu {
  transform: translateX(0%);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Search*/
#results {
  display: flex;
  flex-direction: column;
  background-color: aqua;
  position: fixed;
  top: 50px;
  width: 400px;
  z-index: 100;
  text-align: left;
}

/*******************+++++++++++++++++++++++++++++++++++++++++++++++ Dropdown Button  */
 /* Dropdown Button */
 .dropbtn {
  background-color: transparent;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  top: 35px;
  position: absolute;
  left: -50px;
  background-color: orangered;
  min-width: 160px;
  width: max-content;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/************************************************************  https://freefrontend.com/css-menu/ ****************/

.logo:before{
  content: attr(data-hover);
  visibility: hidden;
  font-size: 1.25rem;
  opacity: 0;
  width: max-content;
  background-color: orangered;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 7px;
  
  position: absolute;
  left: 25%;
  top: auto;
}
.logo:hover:before {
  opacity: 1;
  visibility: visible;
  top:40px;
}

.headerHover:hover {
  &:before { 
    content: '';
    width: .85em;
    height: .85em;
    background: orangered;
    position: absolute;
    top: 2.0em;
    left: 145px;
    transform: rotate(45deg);
  }
}

.dropdownHover:hover {
  &:before { 
    content: '';
    width: .75em;
    height: .75em;
    background: orangered;
    position: absolute;
    top: 1.45em;
    left: 35px;
    transform: rotate(45deg);
  }
}
.menuHover:hover {
  &:before { 
    content: '';
    width: .75em;
    height: .75em;
    background: orangered;
    position: absolute;
    top: 1.8em;
    left: 33px;
    transform: rotate(45deg);
  }
}
.wareHover:hover {
  &:before { 
    content: '';
    width: .75em;
    height: .75em;
    background: orangered;
    position: absolute;
    top: 1.8em;
    left: 1220px;
    transform: rotate(45deg);
  }
}
.favoritHover:hover {
  &:before { 
    content: '';
    width: .75em;
    height: .75em;
    background: orangered;
    position: absolute;
    top: 1.8em;
    left: 1100px;
    transform: rotate(45deg);
  }
}
.logClass:hover:before{
  top: 20px;
  left: -50px
}
